<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<appSettings>
		<add key="DTWH_PostgreSQL_Server" value="129.181.0.241" />
		<add key="DTWH_PostgreSQL_Database" value="DTWH_RTP" />
		<add key="DTWH_PostgreSQL_Port" value="5432" />
		<add key="DTWH_PostgreSQL_Username" value="VXNlckRUV0g=" />
		<add key="DTWH_PostgreSQL_Password" value="Rjg5N0EyOEYxMTY1NTM0OEVCOTVFNUFCMTc5RjVENkYxODIxN0I2MzA4Q0IwNjVDQTg5ODkzOTMyNDFGMDkxOA==" />
		<add key="DTLK_PostgreSQL_Server" value="129.181.0.241" />
		<add key="DTLK_PostgreSQL_Database" value="DTLK_HEURES" />
		<add key="DTLK_PostgreSQL_Port" value="5432" />
		<add key="DTLK_PostgreSQL_Username" value="VXNlckRUTEtIZXVyZXM=" />
		<add key="DTLK_PostgreSQL_Password" value="NzEzMENGMkUyNERBMUQ5NUZBRkU0RTlCRTQ4MDc4QkE1OEJENTkwNUVDNDc1MUNCRDgyQzA3QjIxOUZCQzU4MA==" />

		<add key="Log_FilePath" value="" />
	</appSettings>
</configuration>